
/* child-container styling */
.child-container {
    background-image: url('../assets/images/bg-main-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 33vh;
}


/* form container styling */
.form-container {
    margin-top: 4rem;
    margin-left: 1.33rem;
    margin-right: 1.33rem;
    color: hsl(278, 68%, 11%);
    
}

/* label styling */
label{
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
    
}

/* input styling */
input {
    height: 2.5rem;
    border: solid 1px hsl(279, 6%, 55%);
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding-left: 0.88rem;
    
}

input::placeholder {
    /* font */
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
    letter-spacing: 0.03rem;
    
    
}

/* column container styling */

.column-container {
    margin-top: 5rem;
}

.column-container label {
    display: flex;
    flex-direction: column;
}

/* row container styling */

.row-container {
    display: flex;
    
}



.expiry-date {
    display: flex;
    flex-direction: column;
    
}

.input-container {
    display: flex;
    flex: 1;
    
}

.input-container input {
    width: 4rem;
    margin-right: 0.5rem;

}

.cvc {
    display: flex;
    flex-direction: column;
    /* allows item to fill remaining space */
    flex: 1;
    /* allow shrink past defaults */
    min-width: 30px;
}



/* button container styling */
.button-container {
    display: flex;
}

/* button styling */
.submit-btn {
    /* flex grow */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    /* button size */
    height: 2.75rem;

    /* colors */
    background-color: hsl(278, 68%, 11%);
    color: white;

    /* font */
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.07rem;
    

    /* margin */
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 1rem;

    cursor: pointer;
    border-radius: 0.33rem;
    border: none;
}

@media screen and (min-height: 670px) {

    .child-container {
        height: 25vh;
    }

    .form-container {

        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* margin */
        margin-top: 1.5rem;
        
    }

    .form-container input {
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.88rem;
    }

    .submit-btn {
        height: 3.5rem;
    }

    
}



