.App {
    
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    overflow: hidden;
}

/* tablet styling */
@media screen and (min-width: 810px) and (max-width: 1200px){
    
    .cards-container {
        padding-top: 4.5rem;
    }
}

/* normal desktop styling */

@media screen and (min-width: 1259px) {
    
    .main-container {
        display: flex;
        
    }

    .child-container {
        height: 100vh;
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cards-container {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 28rem;
        
    }

    .back-card-layer {
        width: 402.3px;
        height: 220.5px;

    }

    .front-card-layer {
        margin-bottom: 1.5rem;
        width: 402.3px;
        height: 220.5px;
        
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .number-container {
        margin-top: 2.75rem;
    }

    .dataform {
        width: 40%;
        margin-bottom: 15rem;
    }

    .abstract {
        margin-top: 1.25rem;
        margin-left: 1.25rem;
    }

    .circle {
        width: 35px;
        height: 35px;
    }

    .smaller-circle {
        width: 15px;
        height: 15px;
        margin-left: 0.75rem;
    }

    .ccnum {
        font-size: 23px;
        
    }

    .cvv {
        margin-right: 3rem;
    }
   
}

/* for large and in charge screen sizes */
@media screen and (min-width: 160rem){

    .child-container {
        width: 20vw;
    }

    

   
    
}

/* prevent divs from collapsing */

@media (orientation: landscape) {
    
    .cards-container {
        padding-top: 0.5rem;
    }

    .form-container {
        margin-top: 9rem;
    }

    
}

