.App {
    
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

header {
    background-image: url('./assets/images/bg-main-mobile.png');
    height: 33vh;
    background-size: cover;
}

@media screen and (min-height: 750px) {
    header {
        height: 28vh;
    }
}

